*,
*::before,
*::after { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    position: fixed;
    background-color: rgba(0, 0, 0);
    color: lightcoral;
    padding: 5px;
    width: 100%;
}

img {
    max-width: 100%;
    height: auto;
}

.dropdown {
    display: none;
    height: auto;
    width: 10rem;
    position: absolute;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    flex-direction: column;
    padding: 10px;
    border-radius: 12pt;
}

.message {
    text-align: center;
    color: black;
    margin: 0 auto;
}

.right {
    background-color: green;
}

.wrong {
    background-color: lightcoral;
}

/* for the home page */
.home {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: #60a5fa;
    height: 100vh;
}

.characters {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.character-info {
    list-style: none;
    height: 230px;
    width: 300px;
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 15pt;
}

.character-info img{
    max-width: 100%;
    max-height: 100%;
}

.start-button {
    justify-content: center;
    align-items: center;
    height: 30px;
    margin: auto 30px;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: green;
    border: none;
    border-radius: 12pt;
    font-size: 15pt;
}

/* for the input score page */
.input-score {
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: #172554;
}

.enter-score {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #60a5fa;
    padding: 30px;
    border-radius: 12pt;
    height: 400px;
    width: 400px;
    text-align: center;
}

.enter-score > * {
    height:5em
}

.enter-score > input {
    font-size: 10pt;
}

/* Css for the leaderboard page */
.leaderboard {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-color: #93c5fd;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.leaderboard > * {
    padding: 10px 50px;
}

.score-info {
    background-color: #172554;
    color: white;
    border-radius: 12pt;

}

