*,
*::before,
*::after { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

header {
    position: fixed;
}

img {
    max-width: 100%;
    height: auto;
}

.dropdown {
    display: none;
    height: auto;
    width: 10rem;
    position: absolute;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    flex-direction: column;
    padding: 10px;
    border-radius: 12pt;
}