*,
*::before,
*::after { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

header {
    position: fixed;
    background-color: rgba(0, 0, 0);
    color: lightcoral;
    padding: 5px;
    width: 100%;
}

img {
    max-width: 100%;
    height: auto;
}

.dropdown {
    display: none;
    height: auto;
    width: 10rem;
    position: absolute;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    flex-direction: column;
    padding: 10px;
    border-radius: 12pt;
}

.message {
    text-align: center;
    color: black;
    margin: 0 auto;
}

.right {
    background-color: green;
}

.wrong {
    background-color: lightcoral;
}

/* for the home page */
.home {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.characters {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.character-info {
    list-style: none;
    height: 230px;
    width: 300px;
    display: flex;
    align-items: center;
    gap: 30px;
}

.character-info img{
    max-width: 100%;
    max-height: 100%;
}

.start-button {
    justify-content: center;
    align-items: center;
    height: 30px;
    margin: auto 30px;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}